html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Variables */

:root {
	--basic-black: #000;
	--basic-white: #fff;
	--basic-blue: #2472e8;
	--basic-yellow: #e9e008;
	--basic-nude: #f3eee8;
	--special-color: #7c7c7c;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	overflow-wrap: break-word;
	color: black;
	background-color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.body-wrapper {
	background-color: var(--basic-nude);
}

.title {
	margin: 0;
	font-family: 'DM Serif Display', serif;
}

.button {
	position: relative;
	width: 100%;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: -0.01em;
	color: var(--basic-black);
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.link-style {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: -0.01em;
	color: var(--basic-blue);
	border: none;
}

.header-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: -0.01em;
	color: var(--basic-black);
}

.title-mobile {
	font-weight: 400;
	font-size: 42px;
	line-height: 46px;
}

.main-title {
	padding-top: 50px;
	padding-bottom: 50px;
}

.copyright {
	margin: 0;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: -0.01em;
	color: var(--special-color);
}

.description-wrapper p {
	margin: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.title-number {
	font-weight: 400;
	font-size: 90px;
	line-height: 76px;
	color: var(--basic-blue);
	padding-bottom: 20px;
}

.explaining-text p {
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	margin: 0;
}

.user-type-wrapper {
	display: flex;
	transform: scale(1);
	justify-content: space-around;
	border-top: 0.5px solid var(--basic-black);
	border-bottom: 0.5px solid var(--basic-black);
	margin-top: -45px;
}

.member-wrapper,
.coach-wrapper {
	padding: 75px 0 35px 0;
}

.member-wrapper {
	border-right: 0.5px solid var(--basic-black);
	padding-right: 65px;
}

.user-type-wrapper label {
	position: relative;
	font-family: 'DM Serif Display', serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: var(--basic-black);
	z-index: 0;
}

.type-input-radio:checked + label::after {
	position: absolute;
	content: '';
	bottom: 0px;
	left: -5px;
	width: 109px;
	height: 16px;
	background-color: var(--basic-yellow);
	z-index: -1;
}

.wrapper-column label,
.wrapper-column input {
	display: block;
	width: 100%;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: -0.01em;
	color: var(--basic-black);
}

.form-wrapper {
	padding-top: 30px;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

.wrapper-column input {
	border: none;
	background-color: transparent;
	border-bottom: 0.5px solid var(--basic-black);
	padding: 0.4375rem 0.5rem 0.625rem 0px;
	outline: none;
	margin-bottom: 50px;
}

.wrapper-column.password {
	position: relative;
}

.password-toggle {
	position: absolute;
	bottom: 10px;
	right: 0;
}

.wrapper-column label {
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: -0.01em;
	color: var(--special-color);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.header-wrapper {
	padding: 1rem;
}

.title-wrapper,
.description-wrapper {
	padding: 0 1.25rem;
}

.explaining-text {
	text-align: center;
	padding: 3.125rem 5rem;
}

.span-wrapper {
	display: flex;
	align-items: center;
	color: var(--basic-black);
	position: relative;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: -0.01em;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.span-wrapper::before {
	content: '';
	height: 0.5px;
	background-color: currentColor;
	flex-grow: 1;
}

.span-wrapper::after {
	content: '';
	height: 0.5px;
	background-color: currentColor;
	flex-grow: 1;
}

.google-button-wrapper {
	position: relative;
}

.google-image {
	display: inline;
	margin-right: 10px;
}

.google-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.span-wrapper span {
	padding-left: 10px;
	padding-right: 10px;
}

.create-account {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: -0.01em;
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
}

.footer {
	border-top: 0.5px solid var(--basic-black);
	padding: 30px 20px;
}

.footer-wrapper p {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: -0.01em;
	margin: 0;
}

.footer-logo {
	padding-bottom: 30px;
}

.hospital-link {
	padding-bottom: 10px;
}

.friend-link {
	padding-bottom: 30px;
}

.log-title {
	padding-top: 50px;
	padding-bottom: 30px;
}

.description-step-wrapper {
	border-bottom: 0.5px solid var(--basic-black);
}

.description-step-wrapper p,
.description-step-wrapper h4 {
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
}

.description-step-wrapper p {
	padding-bottom: 30px;
}

.description-step-wrapper h4 {
	padding-bottom: 50px;
}

/* Form Style */

.member-registration-form ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.member-registration-form label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
	padding-left: 26px;
	color: var(--basic-black);
}

.group-list li:not(:last-child) {
	margin-bottom: 20px;
}

.member-registration-form {
	padding: 60px 20px;
}

.member-registration-form legend {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: -0.01em;
	color: var(--special-color);
	margin-bottom: 20px;
}

.member-registration-form fieldset {
	border: none;
	padding: 0;
}

.member-input-radio + label::before {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	height: 17px;
	width: 17px;
	background-repeat: no-repeat;
	background-image: url('./img/round-radio-off.svg');
	transform: translateY(-50%);
	background-position: 0 0;
}

.member-input-radio:checked + label::before {
	background-image: url('./img/round-radio-on.svg');
}

.other-option-wrapper input,
.other-option-wrapper label {
	padding: 0;
	margin: 0;
	display: inline-block;
}

.other-option-wrapper label {
	padding-left: 26px;
	width: 70px;
}

.other-option-wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
